<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpi.mapper.CityMapper">
  	<select id="getCities" resultType="com.solarpi.model.City">
	  	SELECT * FROM city LEFT JOIN country ON city.CountryCode = country.Code
	  	<if test="name != null and name != ''">  
	   	  	WHERE country.name = #{name}
	    </if>
	    ORDER BY city.name
  	</select>
</mapper>
