<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpi.mapper.OrderMapper">
  	<select id="getOrders" resultType="com.solarpi.model.Order">
	  	SELECT * FROM ORDERS WHERE email = #{email}  ORDER BY date DESC LIMIT ${startRow},${pageSize}
  	</select>
  	
	<select id="countOrders" resultType="java.lang.Integer">
    	 SELECT count(1) FROM ORDERS WHERE email = #{email}
	</select>
	
  	<select id="getOrder" resultType="com.solarpi.model.Order">
	  	SELECT * FROM ORDERS WHERE id = #{orderId} 
  	</select>
	
  	<select id="getOrderDetail" resultType="com.solarpi.model.OrderDetail">
	  	SELECT * FROM ORDER_DETAILS WHERE orderId = #{orderId} 
  	</select>
  	
  	<insert id="add" parameterType="com.solarpi.model.Order">
		INSERT INTO ORDERS
	  	VALUES (
	  		#{id},#{date},#{address},#{tel},#{total},#{email},#{consignee}
	  	)
  	</insert>
  	
  	<insert id="addOrderDetail" parameterType="com.solarpi.model.OrderDetail">
		INSERT INTO ORDER_DETAILS
			(orderId,productName,productImage,quantity,price)
	  	VALUES (
	  		#{orderId},#{productName},#{productImage},#{quantity},#{price}
	  	)
  	</insert>
  	
  	<select id="getTopSalesCountry" resultType="com.solarpi.model.CountryStats">
		SELECT * 
		FROM(
			SELECT u.country,SUM(od.quantity) AS sales
				FROM order_details od 
					LEFT JOIN orders o ON od.orderId = o.id
					LEFT JOIN users u ON u.email = o.email
			<if test="productName != null and productName != ''">  
				WHERE od.productName = #{productName}
	    	</if>
			GROUP BY u.country ) as t
		ORDER BY sales DESC
		LIMIT 0,${topNum}
  	</select>
  	
  	<select id="getProductSales" resultType="com.solarpi.model.ProductStats">
		SELECT productName,SUM(quantity) AS sales FROM order_details GROUP BY  productName
  	</select>
  	
<!-- SELECT *  -->
<!-- FROM( -->
<!-- 	SELECT u.country,SUM(od.quantity) AS sales -->
<!-- 		FROM order_details od  -->
<!-- 			LEFT JOIN orders o ON od.orderId = o.id -->
<!-- 			LEFT JOIN users u ON u.email = o.email -->
<!-- 	WHERE od.productName = 'C100' -->
<!-- 	GROUP BY u.country ) as t -->
<!-- ORDER BY sales DESC -->
<!-- LIMIT 0,3 -->


</mapper>
