<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.solarpi.mapper.OrderMapper">
  	<select id="getOrders" resultType="com.solarpi.model.Order">
	  	SELECT * FROM ORDERS WHERE email = #{email}  ORDER BY date DESC LIMIT ${startRow},${pageSize}
  	</select>
  	
	<select id="countOrders" resultType="java.lang.Integer">
    	 SELECT count(1) FROM ORDERS WHERE email = #{email}
	</select>
	
  	<select id="getOrder" resultType="com.solarpi.model.Order">
	  	SELECT * FROM ORDERS WHERE id = #{orderId} 
  	</select>
	
  	<select id="getOrderDetail" resultType="com.solarpi.model.OrderDetail">
	  	SELECT * FROM ORDER_DETAILS WHERE orderId = #{orderId} 
  	</select>
  	
  	<insert id="add" parameterType="com.solarpi.model.Order">
		INSERT INTO ORDERS
	  	VALUES (
	  		#{id},#{date},#{address},#{tel},#{total},#{email},#{consignee}
	  	)
  	</insert>
  	
  	<insert id="addOrderDetail" parameterType="com.solarpi.model.OrderDetail">
		INSERT INTO ORDER_DETAILS
			(orderId,productName,productImage,quantity,price)
	  	VALUES (
	  		#{orderId},#{productName},#{productImage},#{quantity},#{price}
	  	)
  	</insert>
</mapper>
