.green-bg{
	background-color: #1abc9c;

}

.navbar
{
	height:auto;
	border-radius:0px;
}
	
#br {
	display:none;
}

#reg-img{
	width:150px;
}

#reg-form{
	background-color:#eceff1;
	border-radius:6px;
	padding:24px 23px 30px;
}

#reg-form:before{
	content: "";
    border-style: solid;
    border-width: 24px 24px 24px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -8px;
    top: 40px;
    width: 0;
    display:none;
}

#register {
	padding-top:200px
}

#reg-form .error-msg {
	font-size:12px;
	color:#e74c3c;
}

#reg-result {
	font-size:24px;
}


@media (min-width: 960px) {
	
	#reg-img{
		width:200px;
	}
	
	#reg-form:before{
		display:block;
	}
}


@media (min-width: 768px) {
	#br {
		display:block;
	}

	  .navbar-collapse {
	    height: auto;
	    border-top: 0;
	    box-shadow: none;
	    max-height: none;
	    padding-left:0;
	    padding-right:0;
	  }
	  .navbar-collapse.collapse {
	    display: block !important;
	    width: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	  }
	  .navbar-collapse.in {
	    overflow-x: visible;
	  }
	
	.navbar
	{
		height:100%;
		margin-right: 0;
		margin-left: 0;
	}	
	
	.navbar-brand{
		width:100%;
		text-align:center;
		height:100px;
	}
	
	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{float:none !important;}
	
	.navbar-nav > li
	{
		text-align:center;
	}
	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
	    margin-right: 0;
	}
	
	.col-offset-300 {
		padding-left:315px;
	}
	
	.col-fixed-300 {
	    width:300px;
	    position:fixed;
	    height:100%;
	}
}


