.green-bg{
	background-color: #1abc9c;

}

.navbar
{
	height:auto;
	border-radius:0px;
	margin-bottom:0px;
}

.navbar a
{
	cursor:pointer;
}

#reg-img{
	width:150px;
}

#reg-form{
	background-color:#eceff1;
	border-radius:6px;
	padding:24px 23px 30px;
}

#reg-form:before{
	content: "";
    border-style: solid;
    border-width: 24px 24px 24px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -8px;
    top: 40px;
    width: 0;
    display:none;
}

.order-row{
	background-color:white;
	margin-top:20px;
	padding-top:10px;
	padding-bottom:10px;

}



.order-row:hover{
	cursor:pointer;
	background-color:#1abc9c;
}

.order-row .index, .order-row .date, .order-row .total{
	margin-top:0px
}

.order-row img{
	width:100px;
}

#register {
	padding-top:200px
}

#reg-form .error-msg, #edit-form .error-msg {
	font-size:12px;
	color:#e74c3c;
}

#reg-result {
	font-size:24px;
}

#account-info {
	text-align:right;
}

.profile-content {
	padding:10px 50px;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
	
@media (min-width: 960px) {
	
	#account-info {
			padding-right:100px;
	}

	#reg-img{
		width:200px;
	}
	
	#reg-form:before{
		display:block;
	}
}


@media (min-width: 768px) {
	  .navbar-collapse {
	    height: auto;
	    border-top: 0;
	    box-shadow: none;
	    max-height: none;
	    padding-left:0;
	    padding-right:0;
	  }
	  .navbar-collapse.collapse {
	    display: block !important;
	    width: auto !important;
	    padding-bottom: 0;
	    overflow: visible !important;
	  }
	  .navbar-collapse.in {
	    overflow-x: visible;
	  }
	
	.navbar
	{
		position: relative;
		height:100%;
		margin-right: 0;
		margin-left: 0;
	}	
	
	.navbar-right {
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom:50px;
	}
	
	.navbar-nav,
	.navbar-nav > li,
	.navbar-left,
	.navbar-right,
	.navbar-header
	{float:none !important;}
	
	.navbar-nav > li
	{
		text-align:center;
	}
	.navbar-right .dropdown-menu {left:0;right:auto;}
	.navbar-collapse .navbar-nav.navbar-right:last-child {
	    margin-right: 0;
	}
	
	.order-row .index, .order-row .date, .order-row .total{
		margin-top:35px
	}
}
}


